@model StudentTable

@{
    ViewData["Title"] = "AddStudent";
}

@section Style{
	<link rel="stylesheet" href="~/css/StudentTable.css" />
}

<div class="StudentTable">
	<form method="post" asp-controller="Home" asp-action="AddStudent">
		<label for="Name">Name</label>
		<input type="text" id="Name" name="Name" required>

		<label for="DOB">Date of Birth</label>
		<input asp-for=DOB type="date" id="DOB" name="DOB" required>

		<label1>
			<input asp-for=Gender type="radio" name="gender" value="male">
			Male
		</label1>

		<label1>
			<input asp-for=Gender type="radio" name="gender" value="female">
			Female
		</label1>

		<label1>
			<input asp-for=Gender type="radio" name="gender" value="other">
			Other
		</label1>

		<div class="select">
			<label2 for="class-select">Select Class:</label2>
			<select asp-for=ClassId id="class-select">
				<option value="1"> One</option>
				<option value="2"> Two</option>
				<option value="3"> Three</option>
				<option value="4"> Four</option>
				<option value="5"> Five</option>
			</select>
		</div>

		<input type="submit" value="Create">
	</form>
</div>